html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-underline {
  border-radius: unset;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom: 1px grey solid;
}
.input-underline:focus {
  outline: unset;
}

element.style {
}
.ui[class*="left icon"].input>input {
    padding-left: 2.67142857em!important;
    padding-right: 1em!important;
}
.ui.icon.input>input {
    padding-right: 2.67142857em!important;
}

.ui.input>input{
  border: none;
  border-color: yellowgreen;
}
.rounded-btn{
  border-radius: 10px;
}